#
# cache files
#
*~
*.swp
*.gc??

#
# gnu global files
#
GPATH
GRTAGS
GSYMS
GTAGS
ID

#
# GNU Autotools
#
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h-new
config.log
config.status
config.guess
config.sub
config.rpath
configure
libtool
stamp-h
stamp-h.in
stamp-h1
ltmain.sh
missing
mkinstalldirs
compile
install-sh
depcomp
autoregen.sh
ABOUT-NLS
/INSTALL
_stdint.h
.dirstamp
/m4
.deps
.libs
*.lo
*.la
*.o
Makefile.in
Makefile
/m4
tmp-orc.c
*orc.h

#
# VS
#
Build
*.user
*.suo
*.ipch
*.sdf
*.opensdf
*.DS_Store

/test-driver
*.log
*.trs

/subprojects

#
# Building cache
#
/build
/mpp/version.h

#
# Debian
#
/obj-arm-linux-gnueabihf/
/obj-aarch64-linux-gnu/
